<!DOCTYPE html>
<html>
<head>
	<title>Skyshop</title>
	<link rel="stylesheet" type="text/css" href="style2.css">
	<style>
		body {
			background-image: url("img/bg.webp");
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
</head>
<body>
	<h1> Skyshop</h1>
	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="somos.html">Quienes somos</a></li>
			<li><a href="soporte.html">Soporte</a></li>
		</ul>
	</nav>
	<div class="contenido">
		<div class="articule">
			<div class="section">
				<div class="titulo">
					<h2>"En SkyShop, somos apasionados por simplificar la experiencia de compra en línea para nuestros usuarios. Nuestra misión es brindarles las herramientas necesarias para tomar decisiones informadas al adquirir productos en el vasto mundo del comercio electrónico. Con nuestra aplicación, te ofrecemos la posibilidad de explorar y comparar precios de artículos disponibles en diversas plataformas, ya sea que busques productos de una marca específica o simplemente quieras encontrar las mejores ofertas en general. Nuestro filtro personalizado te permite afinar tus búsquedas según tus preferencias, considerando aspectos como precios, tiempo de entrega, gastos de envío, reputación de los vendedores y otros detalles esenciales. Creemos en la transparencia y la conveniencia, ayudándote a tomar decisiones de compra inteligentes y ahorrar tiempo y dinero en tus compras en línea."</h2>
				</div>
			</div>
		</div>
		<!--<div class="container">
			<input type="text" placeholder="Buscar">
				<div class="btn">
					<i class="fa fa-search"><a href="https://www.google.com">🔍︎</a></i>
				</div> -->
		<!--</div>
		<div class="Menu-secundario">
			<a href="">Mas articulos</a>
			<a href="">Mas articulos</a>
			<a href="">Mas articulos</a>	
		</div> -->
	</div>

	<footer>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</footer>
</body>
</html>